.progressbar {
  position: absolute;
  width: 26px;
  height: calc(100% - 26px);
  padding-bottom: 5px;
  top: 15px;
  left: 0;
  z-index: 1;
  
  &__icon { 
    display: block;
    width: 100%;
    height: 26px;
    border-radius: 50%;
    background-color: #e7e7e7;
    color: #666666;
    font: 700 14px / 26px $lato;
    text-align: center;
    transition: all .3s ease;
  } 
  
  &--start {
    
    &:after {
      content: '';
      position: absolute;
      height: calc(100% - 39px);
      width: 4px;
      left: 11px;
      background: #e7e7e7;
      transition: all .3s ease;
    }
    
  }
  
  &--end {
    
    &:before {
      content: '';
      position: absolute;
      height: calc(100% - 39px);
      width: 4px;
      left: 11px;
      background: #e7e7e7;
      transition: all .3s ease;
    }
    
  }
  
  &--yes {
    
    .progressbar__icon {
      background-color: #61ba0e;
      background-image: url(ok.png);
      background-repeat: no-repeat;
      background-position: center;
      font-size: 0;
    }    
    
    &:after {
       background: #61ba0e;
    }
  
  }
  
  &--no {
    
    .progressbar__icon {
      background-color: #e2231a;
      background-image: url(cansel.png);
      background-repeat: no-repeat;
      background-position: center;
      font-size: 0;
    }    
    
    &:after {
       background: #e2231a;
    }
  
  }
  
}