.page-header {
  height: 167px;
  background-color: #e2231a;
  box-shadow: inset 0 4px 0 #d51c15;
  
  &__inner {
    @mixin container;
    background: url(page-header.png);
    background-size: cover;
    height: 100%;
    padding-top: 20px;
    padding-left: 0;
  }
  
  &__container {
    display: flex;
    justify-content: space-between;
  }
  
  &__title {
    color: #ffffff;
    font: 700 32px / 24px $cabin;
    padding-top: 10px;
  }
  
  &__text {
    color: #ffffff;
    font: 400 16px / 22px $lato;
    margin-top: 12px;
  }
  
  &__menu {
    margin-top: 19px;
  }
  
}